<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">

</head>

<body>

    <input type="text" name="id" size="20" value="id">
    <input type="password" name="password" size="20" value="password">
    <input type='button' value='Log in' />
</body>

</html>