<form action="/result_page" method="POST">
    <p>
        <strong>이름</strong>
        <input type="text" name="name" value="이름 입력">
    </p>
    <p>
        <strong>이메일</strong>
        <input type="text" name="email" value="이메일 입력">
    </p>
    <!-- <p>
        <strong>비밀번호</strong>
        <input type="password" name="email" value="비밀번호 입력">
    </p>
    <p>
        <strong>비밀번호 재입력</strong>
        <input type="password" name="email" value="비밀번호 재입력">
    </p> -->

    <p>
        <input type="submit" value="회원가입">
    </p>
</form>